<p-toast></p-toast>
<div class="switch-account__container">
  <div class="container__title">Scegli un account</div>
  <p-card>
    <div
      class="user-list__container__loading"
      *ngIf="loading$ | async; else CONTENT"
    >
      <ng-container>
        <p-skeleton width="100%" height="10vh"></p-skeleton>
        <p-skeleton width="100%" height="10vh"></p-skeleton>
      </ng-container>
    </div>
    <ng-template #CONTENT>
      <div class="user-list__container">
        <div *ngFor="let user of userList$ | async; let i = index">
          <p-divider *ngIf="i > 0"></p-divider>
          <account-card
            [user]="user"
            (selectAccount)="selectAccount($event)"
            (switchCurrentAccount)="switchAccount($event, user?.name)"
          ></account-card>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
