.switch-account-container {
  padding: 32px 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.switch-account-container .container-title {
  font-size: 3em;
  text-align: center;
}
.switch-account-container .user-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
  @media screen and (max-width: 768.9px) {
    width: 80vw;
    max-width: calc(100vw - (1.25rem + 64px));
  }
  @media not screen and (max-width: 768.9px) {
    min-width: 40vw;
  }
}
.switch-account-container .user-list-container-loading {
  @extend .user-list-container;
  gap: 16px;
}
