[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
fastapi = "~=0.74.1"
ariadne = "~=0.14.1"
python-keycloak = "~=0.27.0"
grpcio = "*"
protobuf = "*"
gql = "==v3.0.0rc0"

[dev-packages]

[requires]
python_version = "3.9"

[packages.uvicorn]
extras = [ "standard",]
version = "~=0.17.5"
