.terminal-container {
  display: flex;
  flex-direction: column;
}
.terminal-container .header-container {
  height: 40px;
  width: 100%;
  background-color: var(--surface-card);
  border-radius: 6px 6px 0 0;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
