<div class="header-container">
  <p-progressBar
    class="progress-bar"
    [ngStyle]="{ visibility: (loader$ | async) ? 'visible' : 'hidden' }"
    mode="indeterminate"
  >
  </p-progressBar>
  <div class="toolbar-container">
    <button
      pButton
      icon="pi pi-home"
      class="p-button-rounded p-button-outlined"
      type="button"
      [style.visibility]="homePageRoute ? 'hidden' : 'visible'"
      (click)="navigateHome()"
    ></button>
    <ng-container *ngrxLet="profilePicture$ as profilePicture">
      <p-skeleton
        *ngIf="profilePicture == null; else AVATAR"
        shape="circle"
        size="3rem"
      ></p-skeleton>
      <ng-template #AVATAR>
        <p-avatar
          shape="circle"
          size="large"
          image="{{
            profilePicture?.length && profilePicture!.length > 0
              ? 'data:image/png;base64,' + profilePicture
              : 'assets/avatar-default.png'
          }}"
          class="avatar"
          (click)="menu.toggle($event)"
        ></p-avatar>
      </ng-template>
    </ng-container>
  </div>
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
</div>
