@keyframes blink {
  50% {
    border-color: #202124;
  }
}

.home__container {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  .full-name__container {
    font-size: 3.5em;
    font-weight: bold;
  }

  .full-name__container::after {
    content: '';
    border-style: solid;
    border-width: 0px 12px 0px 0px;
    animation: blink 0.6s step-end infinite alternate;
  }
}
