<div class="project-container">
  <div *ngIf="project?.image" class="project-image-container">
    <div
      class="project-image"
      [ngStyle]="{
        background: 'url(\'data:image/png;base64,' + project?.image + '\')'
      }"
    ></div>
    <div class="project-image-mask"></div>
  </div>
  <div class="project-content">
    <div class="project-title">{{ project?.title }}</div>
    <div *ngIf="project?.description" class="project-description">
      {{ project!.description }}
    </div>
    <div
      *ngIf="project?.tags?.length && project!.tags!.length > 0"
      class="project-tags-container"
    >
      <div class="project-tag" *ngFor="let tag of project!.tags">{{ tag }}</div>
    </div>
    <div
      *ngIf="project?.links?.length && project!.links!.length > 0"
      class="project-links-container"
    >
      <a
        class="project-link"
        *ngFor="let link of project!.links"
        target="_blank"
        href="{{ link.url }}"
        >{{ link.name }}</a
      >
    </div>
  </div>
</div>
