.project-container {
  width: 100%;
  background-color: var(--surface-card);
  border-radius: 7px;
  display: flex;
  @media screen and (max-width: 768.9px) {
    flex-direction: column;
  }
  @media not screen and (max-width: 768.9px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.project-container .project-image-container {
  position: relative;

  @media screen and (max-width: 768.9px) {
    height: 15vh;
  }
  @media not screen and (max-width: 768.9px) {
    flex: 40%;
  }
}
.project-container .project-image-container .project-image-mask {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 768.9px) {
    background: linear-gradient(
      to bottom,
      rgba(240, 240, 240, 0) 0%,
      var(--surface-card) 90%
    );
  }
  @media not screen and (max-width: 768.9px) {
    background: linear-gradient(
      to right,
      rgba(240, 240, 240, 0) 0%,
      var(--surface-card) 90%
    );
  }
}
.project-container .project-image-container .project-image {
  background-size: cover !important;
  background-position: left !important;
  background-repeat: no-repeat !important;
  height: 100%;
  border-radius: 7px;
}
.project-container .project-content {
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 0 32px 0;
}
.project-container .project-content .project-tags-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}
.project-container .project-content .project-tags-container .project-tag {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-weight: bold;
  padding: 2px 6px;
  flex: 0 0 9%;
  text-align: center;
}
.project-container .project-content .project-links-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: auto;
}
.project-container .project-content .project-links-container .project-link {
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: var(--primary-color-text);
  font-weight: bold;
  text-decoration: underline;
}
.project-container .project-content > div {
  padding: 0 16px 0 32px;
}

.project-container .project-content .project-title {
  font-size: 32px;
  font-weight: bold;
}

.project-container .project-content .project-description {
  font-size: 18px;
}
